body {
    padding: 0;
    margin: 30px;
    background-color: #e6e5e5;
    font-family: Helvetica;
}
h2{
    text-align: center;
    background-color: #fff;
    margin: 1px 0;
    padding: 10px;
}
ul.nav-bar {
    list-style: none;
    display:flex;
    padding: 0;
    margin: 0 0 20px 0;
}

ul.nav-bar a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    display: inline-block;
}

ul.nav-bar>li{
    width: 25%;
    background-color: #3d7b96;;
    padding:11px 20px;
    border-right: solid 1px #fff;
    position: relative;
    text-align: center;
}

ul.sub-menu {
    list-style: none;
    display: none;
    position: absolute;
    background-color: #3a677c;
    padding: 0;
    top: 41px;
    width: 100%;
    left: 0;
    text-align: left;
}

ul.sub-menu>li {
    padding: 5px 30px;
    border-bottom: solid 1px #fff;
}

ul.nav-bar>li:hover .sub-menu {
    display:block;    
}
ul.nav-bar>li:hover {
    background-color: #75b7d6;
}

.content {
    background-color: #fff;
    margin: 0;
    padding:30px;
    margin-bottom: 2px;
    display: flex;
    
}
.content-section{
    width:50%;
}
.content-table{
    background-color: #fff;
    margin: 0;
    padding:30px;
    margin-bottom: 2px;   
}
.content-table>table{
    width: 100%;
    border-spacing: 0;
}

.content-table td {
    border: 1px solid #949393;
    text-align: left;
    padding: 8px;
  }
  
.content-table tr:nth-child(even) {
    background-color: #dddddd;
  }
.content-table tr:first-child{
      font-weight: 600;

  }

